@model RISING.STAR.WebApp.Areas.OSI.Models.OSIReportViewModel

@{
    ViewBag.Title = "Objective Scatter Reports";
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
}

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

    <div class="row">

        <div class="col-md-4">

            <h5>Age criteria</h5>
            <div class="input-group">
                <span class="input-group-addon">Age range</span>
                <input type="text" class="form-control" placeholder="From" aria-describedby="basic-addon1" id="StartAge">
                <span class="input-group-addon">To</span>
                <input type="text" class="form-control" placeholder="To" aria-describedby="basic-addon1" id="EndAge">
            </div>

            <h5>First criteria</h5>
            <div class="input-group">
                <div class="input-group">
                    <label class="input-group-addon" for="FirstCriteria">Intervention</label>
                    @Html.DropDownListFor(m => m.SelectedFirstCriteria, Model.FirstCriteria, "", new { @id = "SelectedFirstCriteria", @class = "form-control" })
                </div>
            </div>

            <h5>Second criteria</h5>
            <div class="input-group">
                <div class="input-group">
                    <label class="input-group-addon" for="SecondCriteria">Intervention</label>
                    @Html.DropDownListFor(m => m.SelectedSecondCriteria, Model.SecondCriteria, "", new { @id = "SelectedSecondCriteria", @class = "form-control" })
                </div>
            </div>

            <h5>Third criteria</h5>
            <div class="input-group">
               
                <span class="input-group-addon">Time window</span>
                @Html.DropDownListFor(m => m.SelectedStartRange, Model.StartRange, "Select", new { @id = "SelectedStartRange", @class = "form-control" })

                <span class="input-group-addon">To</span>
                @Html.DropDownListFor(m => m.SelectedEndRange, Model.EndRange, "Select", new { @id = "SelectedEndRange", @class = "form-control" })

            </div>
            <div class="input-group">
                <span class="input-group-addon">From</span>
                @Html.DropDownListFor(m => m.SelectedFrequency, Model.Frequency, "Select", new { @id = "SelectedFrequency", @class = "form-control" })
            </div>

            <h5> OR </h5>

            <div class="input-daterange input-group" id="datepicker">
                <div class="input-daterange input-group" id="datepicker">
                    <input type="text" class="input-sm form-control" name="start" id="StartDateRange" />
                    <span class="input-group-addon">to</span>
                    <input type="text" class="input-sm form-control" name="end" id="EndDateRange" />
                </div>
            </div>            

            <div class="col-md-12">
                <button type="button" value="Show Results" class="btn btn-primary" id="btnShowGraph">Show Results</button>
                <button type="button" value="Reset Query" class="btn btn-primary" id="btnResetQuery">Reset Query</button>
            </div>

        </div>
        
        <div class="col-md-8">
            <div class="row">
                <h4> Chart </h4>
            </div>
            <div class="row">
                <div id="dispersionGraph">
                </div>
            </div>
        </div>
    </div>

</div>

@section JavaScript
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/app/OSI/osiReport.js")"></script>
}
