@model IEnumerable<RISING.STAR.DAL.Role>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
}

<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoleDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsSysAdmin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescriptionDisplay)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsSysAdmin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescriptionDisplay)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.RoleGUID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.RoleGUID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.RoleGUID })
                </td>
            </tr>
        }

    </table>
</div>
