@model IEnumerable<RISING.STAR.DAL.Patients_Table>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
}


<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

    <h2>Patients</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table table-condensed table-striped">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SURNAME1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.REFERENCE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DATE_OF_BIRTH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SEX)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ADDRESS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CITY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZIP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.COUNTRY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PHONE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.E_MAIL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OBSERVATIONS)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NAME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SURNAME1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.REFERENCE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DATE_OF_BIRTH)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SEX)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ADDRESS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CITY)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZIP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.COUNTRY)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PHONE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.E_MAIL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OBSERVATIONS)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Guid }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Guid }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Guid })
                </td>

            </tr>
        }

    </table>

</div>