@model RISING.STAR.DAL.Acquisitions_Table

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
}


<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <h2>Details</h2>

    <div>
        <h4>Acquisitions_Table</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FK_Id_Patient)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FK_Id_Patient)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DATE)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DATE)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.HOUR)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.HOUR)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OS)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OS)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OD)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OD)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OS_OD)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OS_OD)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SPH)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.SPH)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CYL)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CYL)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AXIS)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AXIS)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BCVA)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BCVA)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UCVA)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UCVA)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.REFERENCE_SPH_REFRAC)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.REFERENCE_SPH_REFRAC)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AP)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AP)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NP)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NP)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NOTES)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NOTES)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BESTFOCUS)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BESTFOCUS)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.WIDTH_PROFILE_1_2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.WIDTH_PROFILE_1_2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.WIDTH_PROFILE_1_10)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.WIDTH_PROFILE_1_10)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MTF_CUT_OFF)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MTF_CUT_OFF)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.STREHL_RATIO)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.STREHL_RATIO)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.VA_100)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VA_100)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.VA_20)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VA_20)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.VA_9)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VA_9)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OQAS_VALUE_100)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OQAS_VALUE_100)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OQAS_VALUE_20)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OQAS_VALUE_20)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OQAS_VALUE_9)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OQAS_VALUE_9)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Type_Num)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Type_Num)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Type)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Type)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Corr_Type_Num)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Corr_Type_Num)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Corr_Type)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Corr_Type)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NImag)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NImag)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NImag_Acc_Each)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NImag_Acc_Each)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.COMPUTED_IMAGES)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.COMPUTED_IMAGES)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OAR)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OAR)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.OSI)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.OSI)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Refrac_Acc_Per_1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Refrac_Acc_Per_1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Refrac_Acc_Per_2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Refrac_Acc_Per_2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AR)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AR)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Time_Each_Image_TearFilm)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Time_Each_Image_TearFilm)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TearFilm_Time)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TearFilm_Time)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TearFilm_OSI)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TearFilm_OSI)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TearFilm_Central_Energy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TearFilm_Central_Energy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TearFilm_Peripheral_Energy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TearFilm_Peripheral_Energy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TearFilm_VA)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TearFilm_VA)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TearFilm_MTFCutoff)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TearFilm_MTFCutoff)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TearFilm_MeanOSI)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TearFilm_MeanOSI)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TearFilm_StdevOSI)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TearFilm_StdevOSI)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.RotatedCamera)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.RotatedCamera)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PKJ_IsPreOperation)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PKJ_IsPreOperation)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PKJ_MicrasPerPixel)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PKJ_MicrasPerPixel)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PKJ_PupilDiameter)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PKJ_PupilDiameter)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PKJ_PkjVsPupil_Length)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PKJ_PkjVsPupil_Length)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PKJ_PkjVsPupil_Angle)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PKJ_PkjVsPupil_Angle)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PKJ_PkjVsPupil_X)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PKJ_PkjVsPupil_X)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PKJ_PkjVsPupil_Y)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PKJ_PkjVsPupil_Y)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PKJ_InlayVsPupil_X)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PKJ_InlayVsPupil_X)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PKJ_InlayVsPupil_Y)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PKJ_InlayVsPupil_Y)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PKJ_InlayVsPkj_X)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PKJ_InlayVsPkj_X)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PKJ_InlayVsPkj_Y)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PKJ_InlayVsPkj_Y)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PKJ_Pupil_PixelCentroX)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PKJ_Pupil_PixelCentroX)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PKJ_Pupil_PixelCentroY)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PKJ_Pupil_PixelCentroY)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PKJ_Pupil_PixelRadio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PKJ_Pupil_PixelRadio)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PKJ_Laser_PixelCentroX)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PKJ_Laser_PixelCentroX)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PKJ_Laser_PixelCentroY)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PKJ_Laser_PixelCentroY)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PKJ_Inlay_PixelCentroX)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PKJ_Inlay_PixelCentroX)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PKJ_Inlay_PixelCentroY)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PKJ_Inlay_PixelCentroY)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PKJ_Inlay_PixelRadio)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PKJ_Inlay_PixelRadio)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Patients_Table.NAME)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Patients_Table.NAME)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Acq }) |
        @Html.ActionLink("Back to List", "Index")
    </p>

</div>