@model IEnumerable<RISING.STAR.DAL.Acquisitions_Table>

@{
    ViewBag.Title = "Acquisitions";
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
}


<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <h2>Index</h2>

    <div class="row">

        <div class="col-md-2">
            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
        </div>

        <div class="col-md-2">
            <a href="@Url.Action("AdminDash", "Admin", new { Area = "" })">
                Back to Admin Dashboard
            </a>
        </div>

    </div>

    <table class="table table-condensed table-striped">
        <tr>
            <th>@Html.DisplayNameFor(model => model.FK_Id_Patient)</th>
            <th>@Html.DisplayNameFor(model => model.DATE)</th>
            <th>@Html.DisplayNameFor(model => model.HOUR)</th>
            <th>@Html.DisplayNameFor(model => model.OS)</th>
            <th>@Html.DisplayNameFor(model => model.OD)</th>
            <th>@Html.DisplayNameFor(model => model.OS_OD)</th>
            <th>@Html.DisplayNameFor(model => model.SPH)</th>
            <th>@Html.DisplayNameFor(model => model.CYL)</th>
            <th>@Html.DisplayNameFor(model => model.AXIS)</th>
            <th>@Html.DisplayNameFor(model => model.BCVA)</th>
            <th>@Html.DisplayNameFor(model => model.UCVA)</th>
            <th>@Html.DisplayNameFor(model => model.REFERENCE_SPH_REFRAC)</th>
            <th>@Html.DisplayNameFor(model => model.AP)</th>
            <th>@Html.DisplayNameFor(model => model.NP)</th>
            <th>@Html.DisplayNameFor(model => model.NOTES)</th>
            <th>@Html.DisplayNameFor(model => model.BESTFOCUS)</th>
            <th>@Html.DisplayNameFor(model => model.WIDTH_PROFILE_1_2)</th>
            <th>@Html.DisplayNameFor(model => model.WIDTH_PROFILE_1_10)</th>
            <th>@Html.DisplayNameFor(model => model.MTF_CUT_OFF)</th>
            <th>@Html.DisplayNameFor(model => model.STREHL_RATIO)</th>
            <th>@Html.DisplayNameFor(model => model.VA_100)</th>
            <th>@Html.DisplayNameFor(model => model.VA_20)</th>
            <th>@Html.DisplayNameFor(model => model.VA_9)</th>
            <th>@Html.DisplayNameFor(model => model.OQAS_VALUE_100)</th>
            <th>@Html.DisplayNameFor(model => model.OQAS_VALUE_20)</th>
            <th>@Html.DisplayNameFor(model => model.OQAS_VALUE_9)</th>
            <th>@Html.DisplayNameFor(model => model.Type_Num)</th>
            <th>@Html.DisplayNameFor(model => model.Type)</th>
            <th>@Html.DisplayNameFor(model => model.Corr_Type_Num)</th>
            <th>@Html.DisplayNameFor(model => model.Corr_Type)</th>
            <th>@Html.DisplayNameFor(model => model.NImag)</th>
            <th>@Html.DisplayNameFor(model => model.NImag_Acc_Each)</th>
            <th>@Html.DisplayNameFor(model => model.COMPUTED_IMAGES)</th>
            <th>@Html.DisplayNameFor(model => model.OAR)</th>
            <th>@Html.DisplayNameFor(model => model.OSI)</th>
            <th>@Html.DisplayNameFor(model => model.Refrac_Acc_Per_1)</th>
            <th>@Html.DisplayNameFor(model => model.Refrac_Acc_Per_2)</th>
            <th>@Html.DisplayNameFor(model => model.AR)</th>
            <th>@Html.DisplayNameFor(model => model.Time_Each_Image_TearFilm)</th>
            <th>@Html.DisplayNameFor(model => model.TearFilm_Time)</th>
            <th>@Html.DisplayNameFor(model => model.TearFilm_OSI)</th>
            <th>@Html.DisplayNameFor(model => model.TearFilm_Central_Energy)</th>
            <th>@Html.DisplayNameFor(model => model.TearFilm_Peripheral_Energy)</th>
            <th>@Html.DisplayNameFor(model => model.TearFilm_VA)</th>
            <th>@Html.DisplayNameFor(model => model.TearFilm_MTFCutoff)</th>
            <th>@Html.DisplayNameFor(model => model.TearFilm_MeanOSI)</th>
            <th>@Html.DisplayNameFor(model => model.TearFilm_StdevOSI)</th>
            <th>@Html.DisplayNameFor(model => model.RotatedCamera)</th>
            <th>@Html.DisplayNameFor(model => model.PKJ_IsPreOperation)</th>
            <th>@Html.DisplayNameFor(model => model.PKJ_MicrasPerPixel)</th>
            <th>@Html.DisplayNameFor(model => model.PKJ_PupilDiameter)</th>
            <th>@Html.DisplayNameFor(model => model.PKJ_PkjVsPupil_Length)</th>
            <th>@Html.DisplayNameFor(model => model.PKJ_PkjVsPupil_Angle)</th>
            <th>@Html.DisplayNameFor(model => model.PKJ_PkjVsPupil_X)</th>
            <th>@Html.DisplayNameFor(model => model.PKJ_PkjVsPupil_Y)</th>
            <th>@Html.DisplayNameFor(model => model.PKJ_InlayVsPupil_X)</th>
            <th>@Html.DisplayNameFor(model => model.PKJ_InlayVsPupil_Y)</th>
            <th>@Html.DisplayNameFor(model => model.PKJ_InlayVsPkj_X)</th>
            <th>@Html.DisplayNameFor(model => model.PKJ_InlayVsPkj_Y)</th>
            <th>@Html.DisplayNameFor(model => model.PKJ_Pupil_PixelCentroX)</th>
            <th>@Html.DisplayNameFor(model => model.PKJ_Pupil_PixelCentroY)</th>
            <th>@Html.DisplayNameFor(model => model.PKJ_Pupil_PixelRadio)</th>
            <th>@Html.DisplayNameFor(model => model.PKJ_Laser_PixelCentroX)</th>
            <th>@Html.DisplayNameFor(model => model.PKJ_Laser_PixelCentroY)</th>
            <th>@Html.DisplayNameFor(model => model.PKJ_Inlay_PixelCentroX)</th>
            <th>@Html.DisplayNameFor(model => model.PKJ_Inlay_PixelCentroY)</th>
            <th>@Html.DisplayNameFor(model => model.PKJ_Inlay_PixelRadio)</th>
            <th>@Html.DisplayNameFor(model => model.Patients_Table.NAME)</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.FK_Id_Patient)</td>
                <td>@Html.DisplayFor(modelItem => item.DATE)</td>
                <td>@Html.DisplayFor(modelItem => item.HOUR)</td>
                <td>@Html.DisplayFor(modelItem => item.OS)</td>
                <td>@Html.DisplayFor(modelItem => item.OD)</td>
                <td>@Html.DisplayFor(modelItem => item.OS_OD)</td>
                <td>@Html.DisplayFor(modelItem => item.SPH)</td>
                <td>@Html.DisplayFor(modelItem => item.CYL)</td>
                <td>@Html.DisplayFor(modelItem => item.AXIS)</td>
                <td>@Html.DisplayFor(modelItem => item.BCVA)</td>
                <td>@Html.DisplayFor(modelItem => item.UCVA)</td>
                <td>@Html.DisplayFor(modelItem => item.REFERENCE_SPH_REFRAC)</td>
                <td>@Html.DisplayFor(modelItem => item.AP)</td>
                <td>@Html.DisplayFor(modelItem => item.NP)</td>
                <td>@Html.DisplayFor(modelItem => item.NOTES)</td>
                <td>@Html.DisplayFor(modelItem => item.BESTFOCUS)</td>
                <td>@Html.DisplayFor(modelItem => item.WIDTH_PROFILE_1_2)</td>
                <td>@Html.DisplayFor(modelItem => item.WIDTH_PROFILE_1_10)</td>
                <td>@Html.DisplayFor(modelItem => item.MTF_CUT_OFF)</td>
                <td>@Html.DisplayFor(modelItem => item.STREHL_RATIO)</td>
                <td>@Html.DisplayFor(modelItem => item.VA_100)</td>
                <td>@Html.DisplayFor(modelItem => item.VA_20)</td>
                <td>@Html.DisplayFor(modelItem => item.VA_9)</td>
                <td>@Html.DisplayFor(modelItem => item.OQAS_VALUE_100)</td>
                <td>@Html.DisplayFor(modelItem => item.OQAS_VALUE_20)</td>
                <td>@Html.DisplayFor(modelItem => item.OQAS_VALUE_9)</td>
                <td>@Html.DisplayFor(modelItem => item.Type_Num)</td>
                <td>@Html.DisplayFor(modelItem => item.Type)</td>
                <td>@Html.DisplayFor(modelItem => item.Corr_Type_Num)</td>
                <td>@Html.DisplayFor(modelItem => item.Corr_Type)</td>
                <td>@Html.DisplayFor(modelItem => item.NImag)</td>
                <td>@Html.DisplayFor(modelItem => item.NImag_Acc_Each)</td>
                <td>@Html.DisplayFor(modelItem => item.COMPUTED_IMAGES)</td>
                <td>@Html.DisplayFor(modelItem => item.OAR)</td>
                <td>@Html.DisplayFor(modelItem => item.OSI)</td>
                <td>@Html.DisplayFor(modelItem => item.Refrac_Acc_Per_1)</td>
                <td>@Html.DisplayFor(modelItem => item.Refrac_Acc_Per_2)</td>
                <td>@Html.DisplayFor(modelItem => item.AR)</td>
                <td>@Html.DisplayFor(modelItem => item.Time_Each_Image_TearFilm)</td>
                <td>@Html.DisplayFor(modelItem => item.TearFilm_Time)</td>
                <td>@Html.DisplayFor(modelItem => item.TearFilm_OSI)</td>
                <td>@Html.DisplayFor(modelItem => item.TearFilm_Central_Energy)</td>
                <td>@Html.DisplayFor(modelItem => item.TearFilm_Peripheral_Energy)</td>
                <td>@Html.DisplayFor(modelItem => item.TearFilm_VA)</td>
                <td>@Html.DisplayFor(modelItem => item.TearFilm_MTFCutoff)</td>
                <td>@Html.DisplayFor(modelItem => item.TearFilm_MeanOSI)</td>
                <td>@Html.DisplayFor(modelItem => item.TearFilm_StdevOSI)</td>
                <td>@Html.DisplayFor(modelItem => item.RotatedCamera)</td>
                <td>@Html.DisplayFor(modelItem => item.PKJ_IsPreOperation)</td>
                <td>@Html.DisplayFor(modelItem => item.PKJ_MicrasPerPixel)</td>
                <td>@Html.DisplayFor(modelItem => item.PKJ_PupilDiameter)</td>
                <td>@Html.DisplayFor(modelItem => item.PKJ_PkjVsPupil_Length)</td>
                <td>@Html.DisplayFor(modelItem => item.PKJ_PkjVsPupil_Angle)</td>
                <td>@Html.DisplayFor(modelItem => item.PKJ_PkjVsPupil_X)</td>
                <td>@Html.DisplayFor(modelItem => item.PKJ_PkjVsPupil_Y)</td>
                <td>@Html.DisplayFor(modelItem => item.PKJ_InlayVsPupil_X)</td>
                <td>@Html.DisplayFor(modelItem => item.PKJ_InlayVsPupil_Y)</td>
                <td>@Html.DisplayFor(modelItem => item.PKJ_InlayVsPkj_X)</td>
                <td>@Html.DisplayFor(modelItem => item.PKJ_InlayVsPkj_Y)</td>
                <td>@Html.DisplayFor(modelItem => item.PKJ_Pupil_PixelCentroX)</td>
                <td>@Html.DisplayFor(modelItem => item.PKJ_Pupil_PixelCentroY)</td>
                <td>@Html.DisplayFor(modelItem => item.PKJ_Pupil_PixelRadio)</td>
                <td>@Html.DisplayFor(modelItem => item.PKJ_Laser_PixelCentroX)</td>
                <td>@Html.DisplayFor(modelItem => item.PKJ_Laser_PixelCentroY)</td>
                <td>@Html.DisplayFor(modelItem => item.PKJ_Inlay_PixelCentroX)</td>
                <td>@Html.DisplayFor(modelItem => item.PKJ_Inlay_PixelCentroY)</td>
                <td>@Html.DisplayFor(modelItem => item.PKJ_Inlay_PixelRadio)</td>
                <td>@Html.DisplayFor(modelItem => item.Patients_Table.NAME)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id_Acq }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id_Acq }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id_Acq })
                </td>
            </tr>
        }

    </table>

</div>